{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="row mt-3">
{% for project in projects %}
    <div class="col-md-4 my-2">
        <div class="card border-warning mb-2 h-100" style="background-color: #151413;">
            <img class="card-img-top" src="{{ project.image.url }}" alt="Project Image">
            <div class="card-body text-white d-flex flex-column">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <div class="mt-auto">
                    <a href="{% url 'projects:project' project.pk %}"
                       class="btn btn-outline-warning mx-1">
                        Read More
                    </a>
                    {% if project.try_link %}
                         <a href="{{ project.try_link }}"
                           class="btn btn-outline-warning mx-1">
                            Demo
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}