{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="row mt-3">
{% for language in languages %}
    <div class="col-md-4">
        <div class="card border-warning mb-2">
            <div class="card-body text-white" style="background-color: #151413;">
                <h5 class="card-title">{{ language.name }}</h5>
                <p class="card-text">{{ language.code }}</p>
                <a href="{{ language.url }}"
                   class="btn btn-outline-warning">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}